:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.character-card {
  perspective: 1000px;
}

.character-card:hover .character-card-content {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.character-card-back {
  transform: rotateY(180deg);
}

.character-card-front,
.character-card-back {
  position: absolute;
  min-height: 450px;
  min-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
